{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Edit Your Profile{% endblock head_title %}
{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
<h1>{{ title }}</h1>
<hr/>

<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
{{ form|crispy }}
    {{profileForm|crispy}}
    <center>
            <a role="button" href="{% url 'change_password' %}" class="btn btn-danger">Reset Password </a>
    </center>
    <center >
         <input type='submit' class='btn btn-success' style="margin: 10px 10px 10px 10px;" value='Save' />
    </center>
</form>
</div>
{% endblock content %}
